.container p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #737373;
}

form .form-check-input:checked {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(231, 210, 20, 0.493);
  background-color: #efc81a !important;
}

form .form-check-input:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(231, 210, 20, 0.493);
  background-color: #efc81a !important;
}

form .form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 0 0.2rem rgba(231, 210, 20, 0.493);
}

form .btn-warning {
  font-style: normal;
  color: aliceblue;
}

small .text-right {
  text-align: right;
}

hr {
  margin-bottom: 10px;
  margin-top: 0px !important;
  border: none;
  height: 1px;
  color: #ffffff65;
  background-color: #7e7e7e3a;
}
